@import "~src/variables.scss";

.cart-items {
  max-height: 557px;
  overflow-y: scroll;
  border: 1px solid #393939;
}

.action-cart {
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: 8px;
  margin-bottom: 4em;

  .action-cart-container {
    padding: 1em;
    display: grid;
    grid-template-columns: 50% 1fr 1fr 5%;
    gap: 1em;
    align-content: center;
    align-items: center;

    .amount-cart {
      grid-column: 2;
      text-align: right;
    }

    div {
      grid-column: 3;

      text-align: right;
    }

    button {
      grid-column: 4;
      background-color: #D10061;
      color: white;
      border: none;
      padding: .8em 0;
      text-align: center;
      line-height: 1em;
    }
  }

  .buy {
    position: absolute;
    right: 1em;
    display: inline-block;
    background-color: $highlight;
    color: $dark-font;
    padding: .5em 2em;
    text-decoration: none;
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {
  .action-cart {
    .action-cart-container {
      grid-template-columns: 1fr;
    }
  }
}
