<header class="page-header">
  <app-breadcrumb> <app-breadcrumb [breadcrumbs]="[{place: 'Forside', url: 'Forside'}]"></app-breadcrumb></app-breadcrumb>
</header>

<main class="page-main">
  <section class="frontpage-container">
    <app-sidemenu></app-sidemenu>
    <section class="fontpage-main">
      <figure>
        <img src="../../../assets/images/Acoustic001.jpg" alt="Billede af en guitar">
        <figcaption>
          <h2>Martin <span>GPC-11E</span></h2>
          <p>SERIES ELECTRO ACOUSTIC</p>
          <div>
            <h3>SE DEN NYE GENERATION HALVACOUSTISKE</h3>
          </div>
          <a routerLink="">LÆS MERE</a>
        </figcaption>
      </figure>
    </section>
  </section>
</main>
