@import "~src/variables.scss";

.frontpage-container {
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 1em;


  .fontpage-main {

    figure {
      display: grid;
      grid-template-columns: 1fr 40%;
      color: $font-light;

      img {
        width: 100%;
        align-self: stretch;


      }

      figcaption {
        background-color: #2C3737;
        padding: 1em;


        h2 {
          font-weight: 300;
          display: block;

          span {
            font-weight: bold;
          }
        }

        p {
          font-size: 1.2em;
          font-weight: 100;
        }

        div {
          margin: 1em 0;
          border-top: 1px solid rgba(255, 255, 255, 0.29);
          border-bottom: 1px solid rgba(255, 255, 255, 0.29);
          font-size: 1rem;
          line-height: 1.4em;
          min-height: 6rem;
        }

        a {
          text-decoration: none;
          color: $font-light;
          background-color: $highlight;
          padding: .5em 2em;
          border-radius: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  /* Here are some changes*/
  .frontpage-container {
    display: grid;
    grid-template-columns: 1fr;

    .fontpage-main {
      figure {
        grid-template-columns: 1fr;

        img {
          width: 100%;
          align-self: stretch;

        }
      }
    }
  }

}

