<article class="cart-card">
  <figure>
    <img src="{{image}}" alt="{{title}} image">
  </figure>
  <section class="cart-information-container">
    <h2>{{title}}</h2>
    <div class="quantity-buttons">
      <div>
        <button class="subtract-button">-</button>
        <div class="amount">{{quantity}}</div>
        <button class="add-button">+</button>
      </div>
      <p class="stock-cart">{{stock}}0 på lager</p>
    </div>
    <p class="cart-price">DKK {{price}}</p>
    <button class="delete-from-cart" (click)="cart.deleteItem(id, $event)"><span class="material-icons">clear</span>
    </button>
  </section>

</article>
