@import "~src/variables.scss";

.login-field {
margin-left:40%;
min-height: 20em;
color: $font-light ;
  .login-form {
      label {
          display: block;
          margin: 1em 0 .5em 0;
      }
      input {
          display: block;
          padding: 0.5em;
          width: 250px;
          background-color: $input-fill;
          border: px solid $border-color;
          color: $highlight;
          border-radius: 6px;
          &::placeholder {
              color: $highlight;
              opacity: .5;
          }

      }
      button {
          margin-top: 1em;
          padding: .5em 2em;
          background-color: $highlight;
          border: none;
          color: $dark-font;
          cursor: pointer;
          &:disabled {
              opacity: .5;
              cursor: default;
          }
      }
  }
}
