<nav>
  <section class="contact-icons">
    <span class="material-icons"> email </span>
    <p>SALES@STRINGSONLINE.COM</p>
    <span class="material-icons"> phone </span>
    <p>+45 98 12 22 68</p>
    <div class="cart" routerLink="/Indkøbskurv">
      <span class="material-icons"> shopping_cart </span>

    </div>
  </section>
  <figure>
    <img src="../../../assets/images/logo.svg" routerLink="/forside" alt="logo">
    <figcaption>
      <ul>
        <li><a routerLink="">Forside</a></li>
        <li><a routerLink="/handel">Salgs- og handelbetingelser</a></li>
        <li *ngIf="!isOnline"><a class="login-button" routerLink="/login">Login</a></li>
        <li *ngIf="isOnline"><a class="login-button" (click)="logout()">Logout</a></li>
      </ul>
    </figcaption>
  </figure>
  <section class="nav">
    <form class="form" action="POST" [formGroup]="search">
      <input type="text" formControlName="keyword" placeholder="Søg her">
      <button><span (click)="submit()" class="material-icons"> arrow_forward </span></button>
    </form>

  </section>
</nav>
