<header class="products-header">

  <app-breadcrumb  [breadcrumbs]="[{place: type, url: '/' },  {place: typeTwo, url: '/produkter/'+ type + '/' + typeTwo + '/' + productTypeId}]">></app-breadcrumb>

</header>

<main class="products-main">
<app-sidemenu></app-sidemenu>
<section class="filter">
  <select name="brands" id="brands" (change)="filterBrand($event)">
      <option default hidden value="0">Producent</option>
      <option value='null'>Vis alle</option>
      <option *ngFor="let item of brands" value="{{item.title}}">{{item.title}}</option>
  </select>
  <select name="brands" id="brands" (change)="filterValues($event)">
      <option default hidden value="0">Sorter efter ...</option>
      <option value="1">Pris høj til lav</option>
      <option value="2">Pris lav til høj</option>
      <option value="3">Fra A til Å</option>
      <option value="4">Fra Å til A</option>
  </select>
</section>
  <h2 *ngIf="!product">Varen findes ikke</h2>
  <section class="product-container" *ngIf="product">
    <app-productcard *ngFor="let item of product" [image]="item.image_fullpath" [title]="item.name"
    [teaser]="item.description_short" [price]="item.price" [stock]="item.stock" [id]="item.id"
    [url]="[type, typeTwo, productTypeId]"></app-productcard>
  </section>

</main>
