//color

$dark-font: #131313;
$highlight: #00F9B6;
$border-color: #1F5E5B;
$input-fill: #0A1D1C;
$background: #131313;
$font-light: #FFFFFF;

$font-dark: #131313;






//reponse

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
//font
 $font-family: Titillium Web sans-serif;

